<h1 id="title">
  Angular 2048
</h1>
<div id="content">
  <app-board></app-board>
  <div id="info">
    <h4>HOW TO PLAY:</h4> Use your arrow keys to move the tiles. When two tiles with the same number touch, they merge into one!
    <hr>
    <h4>ABOUT:</h4> This is a simple implementation of the famous 2048 game in Angular. Your current game is saved in local storage, thus revisiting the website
    will load your last game, as you left it - You can reset the table by restarting the game.
    Code for the application can be found on <a href="">GitHub</a>.
  </div>
</div>